@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  width: 100vw;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Yu Gothic", YuGothic, "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", Verdana, "メイリオ", Meiryo, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333;
  line-height: 1.6;
  word-wrap: break-word;
  background-color: #f5f4e4;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

img {
  width: 100%;
}

dd {
  margin-bottom: 0;
  margin-left: 0;
}
main .h2-ttl {
  margin: 10px 0px;
  font-size: 18px;
  border-bottom: 6px solid #ebebeb;
  padding-bottom: 6px;
  line-height: 1.4;
  font-weight: 600;
}
main .h3-ttl {
  margin: 10px 0px;
  font-size: 16px;
  padding-bottom: 6px;
  line-height: 1.4;
  font-weight: 600;
}

p {
  vertical-align: baseline;
  font-size: 14px;
}

ul {
  list-style: none;
}

.fs-14 {
  font-size: 14px;
}
